{% extends "after_login/layout.html" %}
{% block body %}

<!-- WELCOME -->
<div id="typewriterid">
<div class="typewriter">
  <h1>#Add Stages Of Recipe :</h1>
</div>
</div>

<!-- Main -->
<div id="outermain">
<div id="main" class="yes">
  <br>
<div id="card_1" class="card text-center" style="background-color: ghostwhite;">
  <div class="card-header"> Featured  </div>
  <div id="CardBody" class="card-body">
    <h4 class="card-title">1</h4>
    <label class="col-form-label" for="formGroupExampleInput">Ingredients Required : </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingredients">
    <label class="col-form-label" for="formGroupExampleInput">Steps : </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Comment">
    <br>
    <a href="#" id="Commit" class="btn btn-primary">Commit</a>
    <a href="#" id="AddStage" class="btn btn-primary">Add Stage</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

</div>

</div>

{% endblock %}